<div class="swiper-slide catalog-slide">
	<!-- ! wrapper ==> чтобы не задавать отступы слайду, т.к. ширина слайда обычно вычисляется автоматически -->
	<div class="catalog-slide__wrapper">
		<div class="catalog-slide__inner">
			<a
				class="catalog-slide__fancybox-link"
				href="@@imgSrc"
				data-fancybox
				data-sources="@@imgSources"
			>
				<div class="catalog-slide__image">
					<img src="@@imgSrc" alt="Букет '@@title'" />
				</div>
			</a>
			<div class="catalog-slide__content">
				<h3 class="catalog-slide__title">
					@@title
				</h3>
				<p class="catalog-slide__text">
					@@text
				</p>
				<div class="catalog-slide__price-box">
					<span class="catalog-slide__price">
						@@price&#8381;
					</span>
					<a class="catalog-slide__btn btn" href="#">
						Заказать
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
