<li class="faq__spoiler faq-spoiler" data-spoiler>
	<button
		class="faq-spoiler__question spoiler-question"
		type="button"
		data-spoiler-question
	>
		<h3 class="spoiler-question__title">
			@@question
		</h3>
		<span class="spoiler-question__arrow">
			<svg
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M6 9L12 15L18 9"
					stroke="black"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
			</svg>
		</span>
	</button>
	<div class="faq-spoiler__answer spoiler-answer" data-spoiler-answer>
		<p class="spoiler-answer__text">
			@@answer
		</p>
	</div>
</li>
